<!DOCTYPE>
<html>
  <head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.6.0/gridlex.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,800" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/style.css" rel="stylesheet" />

    <title> {{page.title}}</title>
    <meta type="description" content="{{page.description}}" />
    <meta property="og:image" content="/images/justyn.jpg" />


  </head>
  <body>

    {{content}}

  </body>
</html>
